<%= form_with(model: @flight, url: flights_path, method: "get") do |form| %>
  <% @days = Flight.all.pluck(:departure_date).uniq %>

  <div class="row">
    <div class="col-lg-3">
      <h3>Departure</h3>
      <%= select_tag "departure_airport_id",
                      options_from_collection_for_select(@airports, "id", "city"),
                      include_blank: "From", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h3>Arrival</h3>
      <%= select_tag "arrival_airport_id",
                      options_from_collection_for_select(@airports, "id", "city"),
                      include_blank: "To", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h3>Date</h3>
      <%= select_tag "departure_date", options_for_select(@days),
                      include_blank: "Departing", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h3>Passengers</h3>
      <%= select_tag :passengers, options_for_select(1..4), class: "form-select" %>
    </div>
  </div>

  <br><%= form.submit "Search" %>
<% end %>
