<%= form_with(model: @flight, url: flights_path, method: "get") do |form| %>
  <% @days = Flight.all.pluck(:departure_date).uniq %>

  <div class="row mt-5">
    <h2 class="fw-bold mb-4">Book a Flight</h2>

    <div class="col-lg-3">
      <h4>Departure</h4>
      <%= select_tag "departure_airport_id",
                      options_from_collection_for_select(@airports, "id", "city"),
                      include_blank: "From", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h4>Arrival</h4>
      <%= select_tag "arrival_airport_id",
                      options_from_collection_for_select(@airports, "id", "city"),
                      include_blank: "To", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h4>Date</h4>
      <%= select_tag "departure_date", options_for_select(@days),
                      include_blank: "Departing", class: "form-select" %>
    </div>

    <div class="col-lg-3">
      <h4>Passengers</h4>
      <%= select_tag :passengers, options_for_select(1..4), class: "form-select" %>
    </div>
  </div>

  <br><%= form.submit "Search" %>
<% end %>
