<% unless @departure_airport.blank? && @arrival_airport.blank? && @departure_date.blank? %>
  <hr class="mt-4" style="max-width: 900px">
  <% if @searched_flights.present? %>
    <%= form_with(model: @flight, url: new_booking_path, method: "get") do |form| %>
      <%= form.hidden_field :num_of_passengers, value: @num_of_passengers %>

      <div class="mt-4 mb-3 p-4 bg-light rounded" style="max-width: 900px">
        <h4 class="fw-bold mb-3">
          <%= "Search results" %>
        </h4>
        <h5>
          <%= "#{pluralize(@searched_flights.count, "flight")} available
               for #{@searched_flights.first.departure_date_formatted}" %>
        </h5>

        <% @searched_flights.each do |flight| %>
          <div class="d-flex mt-4 mb-4 align-items-center">
            <div class="form-check">
              <%= form.radio_button :flight_id, flight.id,
                                    class: "form-check-input border-secondary" %>
            </div>

            <div class="d-flex ms-2 p-2 align-items-center border bg-white rounded shadow-sm">
                  <%= "#{flight.departure_airport.city}
                       (#{flight.departure_airport.code}) to
                       #{flight.arrival_airport.city}
                       (#{flight.arrival_airport.code})" %>
            </div>
            <div class="d-flex ms-2 p-2 align-items-center border bg-white rounded shadow-sm">
                  <%= "Departure: #{flight.departure_time_formatted}" %>
            </div>
            <div class="d-flex ms-2 p-2 align-items-center border bg-white rounded shadow-sm">
                  <%= "Duration: #{flight.duration.to_i} hours" %>
            </div>
          </div>
        <% end %>

        <%= form.submit "Book", class: "btn btn-lg text-dark btn-warning fw-bold ps-5 pe-5" %>
      </div>
    <% end %>
  <% else %>
    <div class="mt-4">
      <h4>No flights found, please try again.</h4>
    </div>
  <% end %>
<% end %>
