<h2>Flights</h1>

<%= form_with(model: @flight, url: flights_path, method: "get") do |form| %>
  <h3>From</h3>
  <%= select_tag "departure_airport_id", options_from_collection_for_select(@airports,
        "id", "code") %>

  <h3>To</h3>
  <%= select_tag "arrival_airport_id", options_from_collection_for_select(@airports,
        "id", "code") %>

  <h3>Passengers</h3>
  <%= form.select :passengers, options_for_select(1..4) %>

  <h3>Date</h3>
  <%= select_tag "departure_time", options_from_collection_for_select(@flights,
        "departure_time", "departure_date_formatted") %>

  <div><%= form.submit "Search" %></div>
<% end %>

<% @searched_flights.each do |flight| %>
  <h3><%= "#{@searched_flights.count} Flights Found" %></h3>
  <p><%= link_to "Flight", flight %></p>
<% end %>
