<h2>Flights</h1>

<%= form_with(model: @flight, url: flights_path, method: "get") do |form| %>
  <h3>From</h3>
  <%= select_tag "departure_airport_id", options_from_collection_for_select(@airports,
        "id", "city") %>

  <h3>To</h3>
  <%= select_tag "arrival_airport_id", options_from_collection_for_select(@airports,
        "id", "city") %>

  <h3>Passengers</h3>
  <%= form.select :passengers, options_for_select(1..4) %>

  <h3>Date</h3>
  <%= select_tag "departure_time", options_from_collection_for_select(@flights,
        "departure_time", "departure_date_formatted") %>

  <br><%= form.submit "Search" %>
<% end %>

  <% @searched_flights.each do |flight| %>
    <% fl_count = @searched_flights.count %>
    <h3><%= "#{fl_count} Flight#{fl_count > 1 ? "s" : ""} Found" %></h3>
  <% end %>

<%= form_with(model: @flight, url: new_booking_path, method: "get") do |form| %>
  <%= form.collection_radio_buttons :flight_id, @searched_flights,
        :id, :flight_info %>
  <%= form.hidden_field :num_of_passengers, value: @num_of_passengers %>
  <br><br>
  
  <% if @searched_flights.any? %>
    <%= form.submit "Book" %>
  <% end %>
<% end %>
