<%= form_with model: @booking do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being created:</h2>
      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-5 p-4 rounded" style="max-width: 500px">
    <div class="p-3 border border-success rounded">
      <div>
        <h4>
          <%= "#{@flight.departure_airport.city} (#{@flight.departure_airport.code}) to
              #{@flight.arrival_airport.city} (#{@flight.arrival_airport.code})" %>
        </h4>
      </div>
      <div>
        <%= "Departure: #{@flight.departure_date_formatted} - #{@flight.departure_time_formatted}" %>
      </div>
      <div>
        <%= "Flight Number: #{@flight.id}" %>
      </div>
    </div>

    <hr>
    <% (1..@num_of_passengers.to_i).each do |passenger_number| %>
      <div class="mt-4 mb-4 p-3 bg-light rounded">
        <h4><%= "Passenger #{passenger_number} Information" %></h4>
        <%= form.fields_for :passengers do |sub_form|  %>
          <%= form.hidden_field :flight_id, value: @flight.id %>
          <div>
            <%= sub_form.label :name %>
            <%= sub_form.text_field :name, class: "form-control" %>
          </div>
          <div>
            <%= sub_form.label :email %>
            <%= sub_form.text_field :email, class: "form-control" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= form.submit "Purchase Flight", class: "btn btn-lg btn-info text-white fw-bold" %>
  </div>
<% end %>
